/*--- RESET ---*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--- RESET END ---*/

@font-face {
    font-family: 'NeoSansPro-Regular';
    src: url('../fonts/NeoSansPro/NeoSansPro-Regular.ttf');
}

@font-face {
    font-family: 'NeoSansPro-Medium';
    src: url('../fonts/NeoSansPro/NeoSansPro-Medium.ttf');
}

@font-face {
    font-family: 'NeoSansPro-Bold';
    src: url('../fonts/NeoSansPro/NeoSansPro-Bold.ttf');
}

@font-face {
    font-family: 'JazzBall-Bold';
    src: url('../fonts/JazzBall/JazzBall-Bold.ttf');
}


* {
    box-sizing: border-box;
}
.body {
    background-color: #fff;
}

.container {
    font-family: NeoSansPro-Regular;
    width: 960px;
    margin: 0 auto;
    padding-top: 25px;
}

.breadcrumb:before {
    content: '';
    background-image: url('../image/home.png');
    display: inline-block;
    width: 16px;
    height: 17px;
    vertical-align: bottom;
    margin-right: 5px;
    cursor: pointer;
}

.breadcrumb {
    margin-bottom: 25px;
}

.breadcrumb li {
    display: inline;
    font-size: 14px;
    color: #9ba3a9;
}

.breadcrumb li a {
    color: #9ba3a9;
}

.breadcrumb li a:hover {
    text-decoration: none;
}

.breadcrumb li+li:before {
    content: '-';
    padding: 10px;
}

.title {
    font-family: NeoSansPro-Medium;
    font-size: 28px;
    margin-bottom: 25px;
}

.filtration {
    border: 2px solid #e5f0fb;
    background-color: #eef8ff;
    border-radius: 5px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.form-radio {
    border-right: 1px solid #c2d1dc;
    padding-right: 65px;
}

.checkbox-title, .checkbox, .sort {
    color: #4c4c4c;
    font-size: 14px;
}

.sort {
    vertical-align: middle;
    display: inline-block;
}

.checkbox-radio {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 5px;
}

.checkbox-radio .radio {
    display: none;
}

.radio:checked + .radio-button {
     border: 2px solid #ff4343;
     border-radius: 50%;
 }

.radio-button {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.red-button{
    background-color: #e30013;
}

.black-button {
    background-color: #3b3b3b;
}

.yellow-button {
    background-color: #e3c400;
}

.white-button {
    background-color: #fff;
}

.green-button {
    background-color: #76e300;
}

.rose-button {
    background-color: #e300a0;
}

.orange-button {
    background-color: #e37000;
}


.form-checkbox {
    padding: 0 65px;
    border-right: 1px solid #c2d1dc;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.check-button {
    background-color: #d7e2ea;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    vertical-align: middle;
    margin: 0 5px;
    cursor: pointer;
}

.checkbox input:checked + .check-button:before {
    content: "\2714";
    display: block;
    font-size: 17px;
    color: #fff;
    text-align: center;
    line-height: 17px;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    background-color: #f73e3d;
}

.wrapper-sort {
    padding-left: 50px;
}

.price-btn {
    font-family: NeoSansPro-Medium;
    position: relative;
    color: #ff0000;
    font-weight: 500;
    border-bottom: 1px dotted #ff0000;
    cursor: pointer;
}

.sort-higher:after {
    content: '\2191';
    display: inline-block;
    font-size: 14px;
    position: relative;
    left: 0;
}

.sort-poor:after {
    content: '\2193';
    display: inline-block;
    font-size: 15px;
}

.sort-higher,.sort-poor {
    display: inline-block;
    outline: none;
    cursor: pointer;
}

.sort-higher {
    position: relative;
    left: 2px;
}

.price:hover {
    border-bottom: none;
}

.wrapper-image {
    width: 130px;
    height: 130px;
    margin: 0 auto 15px;
}

.list-catalog-balls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-catalog-balls li {
    text-align: center;
    padding: 15px 25px;
    width: 190px;
    border: 1px solid #d0dbe6;
    border-radius: 10px;
}

.info-about-balls h2 a {
    font-size: 14px;
    color: #0093ca;
}

.info-about-balls {
    margin-bottom: 10px;
}
.info-about-balls h2 {
    line-height: 20px;
    margin-bottom: 10px;
    height: 42px;
}

.info-about-balls-2 h2 {
    height: 44px;
}

.info-about-balls h2 a:hover {
    text-decoration: none;
}

.description-ball {
    font-size: 13px;
    color: #606060;
    line-height: 20px;
    margin-bottom: 10px;
    height: 60px;
}

.price-ball {
    font-size: 13px;
    color: #606060;
    line-height: 20px;
}

.price-ball span {
    font-family: NeoSansPro-Bold;
    font-size: 18px;
}

.strikethrough {
    position: relative;
    color: #aaaaaa;
    font-size: 17px;
}

.strikethrough:before {
    content: "";
    position: absolute;
    border-top: 3px solid;
    border-color: #ff0000;
    top: 50%;
    left: -5px;
    right: -5px;

    -webkit-transform:rotate(-10deg);
    -moz-transform:rotate(-10deg);
    -ms-transform:rotate(-10deg);
    -o-transform:rotate(-10deg);
    transform:rotate(-10deg);
}

.wrapper-buy {
    display: flex;
    background-color: #eef8ff;
    border-radius: 20px;
    margin-top: auto;
}

.goods {
    display: flex;
    flex-direction: column;
}

.order-balls {
    border-radius: 20px;
    padding: 5px 0 5px 5px;
    display: flex;
}

.quantity-balls {
    text-align: left;
    display: inline-block;
}

.field span {
    font-size: 14px;
    color:#575757;
}

.quantity-balls input {
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 14px;
    color:#575757;
    background-color: transparent;
    width: 25px;
}

.field {
    border: 1px solid #cacbcb;
    border-radius: 25px;
    background-color: #fff;
    width: 70px;
}

.btn-buy button {
    font-family: JazzBall-Bold;
    font-size: 20px;
    border: none;
    background: transparent;
    display: block;
    color: #798690;
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding: 0;
    outline: none;
}

.buy:after {
    content: '';
    background-image: url('../image/buy.png');
    display:inline-block;
    width: 20px;
    height: 18px;

}

.buy {
    background-color: #f73d3c;
    border-radius: 50%;
    cursor: pointer;
    padding: 14px 12px;
}

.wrapper-pagination {
    margin: 30px 0 30px;
    background-color: #eef8ff;
    border: 2px solid #e5f0fb;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-pagination li a {
    color: #60666a;
    font-size: 14px;
}

.list-pagination li a:hover {
    text-decoration: none;
}

.list-pagination li {
    display: inline-block;
}

.prev, .next {
    border: none;
    background-color: transparent;
}

.prev a, .next a{
    color: #60666a;
    font-size: 14px;
}
.prev:before {
    content: '\2039';
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
    vertical-align: sub;
    margin-right: 10px;
}

.next:after {
    content: '\203a';
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
    vertical-align: sub;
    margin-left: 10px;
}

.prev a:hover {
    text-decoration: none;
}

.next a:hover {
    text-decoration: none;
}


/*-- MEDIA QUERIES! --*/

@media screen and (max-width: 599px) {

    .container {
        width: 320px;
    }

    .filtration {
        flex-wrap: wrap;
    }

    .form-radio, .form-checkbox, .wrapper-sort {
        padding: 0;
        border: none;
    }

    .form-radio, .form-checkbox {
        padding: 0 0 15px;
    }

    .check-button {
        margin: 0;
    }

    .list-catalog-balls {
        justify-content: center;
    }

    .list-catalog-balls li {
        border-right: 1px solid #d0dbe6;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {

    .container {
        width: 500px;
    }

    .filtration {
        flex-wrap: wrap;
    }

    .form-radio, .form-checkbox, .wrapper-sort {
        padding: 0;
        border: none;
    }

    .form-radio, .form-checkbox {
        padding: 0 0 15px;
    }

    .check-button {
        margin: 0;
    }

    .list-catalog-balls {
        justify-content: center;
    }

    .list-catalog-balls li {
        border-right: 1px solid #d0dbe6;
    }
}

@media screen and (min-width: 700px) and (max-width: 950px) {

    .container {
        width: 600px;
    }

    .filtration {
        flex-wrap: wrap;
    }

    .form-radio, .form-checkbox, .wrapper-sort {
        padding: 0;
        border: none;
    }

    .form-radio, .form-checkbox {
        padding: 0 0 15px;
    }

    .check-button {
        margin: 0;
    }

    .list-catalog-balls {
        justify-content: center;
    }

    .list-catalog-balls li:nth-child(3n) {
        border-right: 1px solid #d0dbe6;

    }
}










